main {
    width: 100%;
    max-width: 1920px;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: column;
    color: white;
    background-color: var(--color8);
  }


.inventory-section {
  background-color: var(--color7); 
  padding: 10px 10px; 
  width: 100%; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
}

.inventory-section table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures columns have equal width */
}

.inventory-section th, .inventory-section td {
  padding: 8px 10px;
  border: 1px solid var(--color4); /* Add border color */
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  vertical-align: middle; /* Center vertically */
  white-space: nowrap; /* Prevent line break */
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--color6);
}

.inventory-section tr {
  height: 50px;
}


.inventory-section th {
  background-color: var(--color4);
  font-weight: 700;
  color: var(--color1);
}

/* Image styling */
.inventory-section img {
  height: 30px;
  width: auto;
}
  
.main-content {
  margin-left: 220px;
  padding: 20px;
}

.main-content h2 {
  font-family: 'IM FELL English', serif;
}


button {
  display: inline-block;
  padding: 6px 6px;
  color: var(--color2);
  background-color: var(--color4);
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  font-size: small;
}


.delete_button:hover {
  background-color: #d23c3c; 
  color: white;
}

.edit_button:hover{
  background-color: var(--color3);
  color: white;
}

.add_button:hover{
  background-color: var(--color3);
  color: white;
}

