main {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: white;
    background-color: var(--color8);
  }

.delivery-address,
.products-top,
.products-ordered,
.payment-method {
    background-color: var(--color6);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.address-header {
    font-size: 1.2rem;
    color: var(--color2);
    display: flex;
    align-items: center;
}

.address-header img {
    margin-right: 10px;
}

.address-details {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin-top: 10px;
    width: 100%; 
}

.address-info {
    flex: 1; 
    text-align: left;  
}

.change-address {
    color: var(--color2); 
    text-decoration: underline; 
    cursor: pointer; 
    margin-left: 20px; 
    
}

.address-change {
    color: var(--color2); 
    text-decoration: underline;  
    cursor: pointer;  
    margin-left: 20px; 
    justify-content: flex-end;
    display: flex;
    flex: 1;
    margin-bottom: 5px;
}

.products-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: var(--color2);
}

.item-details {
    width: 100%;
}
.product-details {
    gap: 2rem;
    background-color: var(--color6);
    padding: 1.5rem;
    margin-bottom: 2rem;
  }


.product-item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
    background-color: var(--color6);
    border-radius: 5px;
}

.product-item img {
    width: 50px;
    margin-right: 20px;
}

.product-info {
    display: flex; 
    align-items: left; 
    margin-top: 10px; 
    justify-content: space-between;
}

.product-info p {
    margin: 0;
    flex: 1; 
}

.product-info .delivery {
    flex: 1; 
    text-align: left; 
}

.product-info div {
    margin-left: 15px;
}

.product-prices {
    align-items: center;
    display: flex;  
    gap: 20px; 
}

.product-prices p {
    margin: 0;  
    text-align: center;  
}

.payment-method {
    background-color: var(--color6);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.payment-header {
    padding: 10px;
    color: var(--color2);
    width: 100%;
}

.payment-details {
    width: 100%;
    max-width: 300px; 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.payment-summary {
    text-align: right;
    display: flex-end;
    flex-direction: column;
    gap: 20px;
    margin-left: auto; 
    max-width: 300px;
    align-items: flex-end;
}

.payment-summary p {
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    margin: 0;
    font-size: 1rem;
}

.payment-summary p.delivery {
    color: var(--color2); 
}
.delivery {
    text-align: right;
    margin: 0;
}

.payment-summary p.Merchandise {
    color: var(--color1); 
}

.payment-summary p.Shipping {
    color: var(--color1); 
}

.payment-summary p.total {
    font-size: 1.2rem; 
    color: var(--color2);
}

.payment-summary span {
    color: var(--color1); 
    text-align: right; 
    min-width: 100px;
}

.payment-summary .prize {
    color: var(--color2);
    font-size: 1.5rem;

}


.total {
    font-size: 1.2rem;
}

.checkout-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--color3);
    color: white;
    cursor: pointer;
    align-self: flex-end; 
    border: none;
    border-radius: 5px;
}

.checkout-btn:hover {
    background-color: var(--color2);
}

.products-header a.view-shop {
    color: var(--color2);
    text-decoration: none;
  }

.line {
    border: none; /* Remove the default border */
    height: 3px; /* Height of the line */
    background: repeating-linear-gradient(
        to right,
        var(--color8),
        var(--color8) 50%,
        transparent 50%,
        transparent 100%
    );
    background-size: 10px 6px; /* Adjust size for repeating effect */
    width: 100%; /* Span the container */
    margin: 10px 0; /* Add spacing */
}


footer {
    position: relative;
}

:root {
    --color1: #fac883;
    --color2: #d9912b;
    --color3: #966115;
    --color4: #5b3701;
    --color5: #573501;
    --color6: #3d2501;
    --color7: #492c00;
    --color8: #231200;
}
