main {
  flex: 1;
  width: 100%;
  max-width: 1920px;
  /* max-height: calc(100vh - 12rem); Adjust this based on your layout */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--color8);
  overflow-y: auto; /* Enable scrolling if content overflows */
}
section{
    width: 100%;
    display: flex;
    flex-direction: row;
  }


  .filters select{
    background-color: var(--color3);
    padding:5px;
    color:white;
    border: none;
    font-size: medium;
    font-family: 'IM Fell DW Pica SC', serif;
  }

  .sort_dropdown{
    color: white;
  }
  
  .sort_color{
    color: white;
  }
  
  .dropdown{
    margin-bottom: 20px;
  }

  .dropdown option{
    background-color: white;
    color: black;
  }
  
  span{
    color: var(--color1);
    padding:20px 5px 5px 5px;
  }
  
  .filters select option{
    background-color: white;
    color: black;
  }
  
  .left-container{
    width:20%;
    padding: 1rem;
    position: sticky; /* Makes the element sticky */
    top: 0; /* Position when sticky starts */
    z-index: 1000; /* Ensure visibility over other elements */
  }
  
  .right-container {
    width: 80%;
    padding: 1rem;
  }
  
  .filter-name h1 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 40px;
    color: var(--color2);
  }
  
  .categories ul{
    flex-direction: column;
    padding: 20px 10px 20px 10px;
  }
  
  .categories li{
    font-size: 30px;
    color: var(--color1);
  }
  
  .dropdown{
    width:100%;
    padding: 2rem;
  }

  .book-list {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; /* Add margin to separate it from the elements above */
    padding: 10px; /* Add padding for better spacing */
  }

  .book-list {
    flex: 1; /* Allow it to grow within the main container */
  }
  
  .book-item {
    flex-direction: column;
    margin: 1rem;
    background-color: var(--color3);
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.book-item:hover{
  box-shadow: 0 0 10px 6px var(--color3);
  transition: box-shadow 0.1s ease;
}



  .book-cover {
    margin: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--color3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }

  
  .book-item img {
    width: 170px;
    height:200px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .book-item h3 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 18px;
    color: var(--color1);
    margin: 5px 0;
  }
  
  .book-item p {
    font-size: 16px;
    color: var(--color2);
    margin: 5px 0;
  }

  .categories{
    background-color: var(--color4);
    max-height: 1000px;
    max-width: 500px;

  }