main {
  width: 100%;
  max-width: 1920px;
  /* height: 100%; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--color8);
}

.filters select{
  background-color: var(--color3);
  padding:5px;
  color:white;
  border: none;
  font-size: medium;
  font-family: 'IM Fell DW Pica SC', serif;
}

.filter_choice{
  margin-top: 1rem;
}

.sort_dropdown{
  color: white;
}

select{
  margin-right: 10px;
  margin-bottom: 1rem;

}

.sort_color{
  color: white;
}

.dropdown{
  margin-bottom: 20px;
}

span{
  color: var(--color1);
  padding:20px 5px 5px 5px;
  font-family: 'IM FELL English', serif;
}

ul {
  display: flex;
}

.filters select option{
  background-color: white;
  color: black;
}

.book-container {
 /* display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: auto; 
  justify-items: center; /* Horizontally centers the items */
  /*align-items: center; /* Vertically centers the items */
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: auto; 
  justify-items: center; /* Horizontally centers the items */
  align-items: center; /* Vertically centers the items */
}

.suggested-books{
  grid-template-columns: repeat(4, 1fr); 
}

.book-item {
 /* width:100%;
  max-width: fit-content;
  height:auto;
  background-color: var(--color5);
  text-align: center;
  padding-bottom: 30px ;
  transition: transform 0.3s ease, border 0.3 ease;*/
  margin: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--color3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.book-item img {
  width: 250px;
  height:300px;
  margin-bottom: 10px;
}

.book-item p {
  padding-bottom: 5px;
  color: var(--color1);
  font-size: large;

}

.book-item:hover{
  box-shadow: 0 0 10px 6px var(--color3);
  transition: box-shadow 0.1s ease;
}

.bookstore-info {
  background-color: var(--color7);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.store-logo img {
  width: 50px;
  height: 50px;
}

.store-details h3 {
  margin: 0;
  color: var(--color1);
}

.store-details a.view-shop {
  color: var(--color2);
  text-decoration: none;
}

div.book-item{
  gap:5rem;
 
}