
main {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    padding: 2rem;
    display: flex;
    background-color: var(--color8);
    overflow-y: auto;
    
}

.profile-burger {
    background-color: var(--color7); 
    padding: 10px; 
    width: 20%; 
    color: var(--color2);
    text-align: left;
    margin-left: 50px;
    font-weight: lighter;
    position: sticky; /* Makes the element sticky */
    top: 0; /* Position when sticky starts */
    z-index: 1000; /* Ensure visibility over other elements */
}

.profile-burger h3 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--color2);
    margin-left: 20px;
}

.profile-burger a {
    font-family: 'IM Fell DW Pica SC', serif;
    display: block;
    padding: 15px 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color1);
    text-decoration: none;
    font-weight: lighter;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    
}

.profile-burger a:hover {
    background-color: var(--color3); 
    color: white;
}

.right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-section {
    background-color: var(--color7); 
    padding: 30px 30px 180px 30px; 
    width: 100%; 
    margin-left: 15px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    /* max-height: calc(85vh - 100px);  */
    height: 50rem;

}

.profile-section h1 {
    font-family:'IM Fell DW Pica SC', serif;
    font-size: 40px;
    font-weight: normal;
    color: var(--color2);
    margin-bottom: 15px;
}

.form-container {
    width: 100%;
    margin-bottom: 15px;
    
}

.form-container p {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 25px;
    margin-bottom: 5px; 
    color: var(--color2);
    display: block;
}


input[type="submit"] {
    margin-top: 10px; 
    width: 150px;
    background-color: var(--color2);
    color: white;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
}

.file-label {
    background-color: var(--color3); 
    color: white; 
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}
input[type="file"] {
    display: none; 
}


.image-section {
    height: 300px;
    width: 30%;
    overflow: hidden;
    /* display: flex; */
   
   
}

.image-section img {
    width: 150px;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 150px;
}

strong{
    color: var(--color1);
    font-size: 18px;
    font-family: 'IM Fell DW Pica SC', serif;
    font-weight: normal;
}

h1{
    margin-top: 25px;
}


