body {
  overflow-y: hidden;
}

main {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  color: white;
  background-color: var(--color8);
}

.all-products, .item-section {
  background-color: var(--color7); 
  padding: 10px;
  margin-bottom: 10px;
}

section.item-section {
  height: 100vh;
}

.product-details {
  display: flex; 
  align-items: center;
  justify-content: space-between; /* Align header items evenly */
  gap: 10px; 
}

.items {
  display: flex; 
  align-items: center;
  justify-content: space-between; /* Align cart items evenly */
  gap: 10px; 
  padding: 10px; /* Add padding for better spacing */
}

.item-cover-title {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-action {
  max-width: 22rem;
}

#checkbox-item, .item-cover-title, .item-price, .quantity-control, .item-totalprice, .item-action{
  flex: 1; 
  text-align: center; 
}

.quantity-control {
  display: flex; 
  align-items: center; 
  justify-content: center; /* Center buttons and quantity display */
}

.quantity-control button {
    width: 30px;
    height: 23.6px;
    margin: 0 5px;
}

.product, .unit-price, .quantity, .totalprice, .action {
  flex: 1; 
  text-align: center; 
}

footer {
  padding: 1rem;
  background-color: var(--color7); 
}

ul {
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
}

li {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-all, .totalitems {
  flex: 1; 
  text-align: center; 
}

.foot-details {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.left-foot {
  display: flex;
  align-items: center;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: var(--color3);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-details label, .shop-details label {
  font-size: 16px;
  color: var(--color2);
}

:root {
  --color1: #fac883;
  --color2: #d9912b;
  --color3: #966115;
  --color4: #5b3701;
  --color5: #573501;
  --color6: #3d2501;
  --color7: #492c00;
  --color8: #231200;
}
