.product {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: var(--color7); 
  padding: 10px;
  margin-bottom: 10px;
}

.product-details {
  display: flex; 
  align-items: center;
  gap: 10px; 
  flex-grow: 1; 
}

.unitiy, .quantity, .totalprice, .action {
  flex: 1; 
  text-align: center; 
}

.footer {
  position: fixed; 
  bottom: 0; 
  width: 100%;
  max-width: 1920px; 
  background-color: var(--color7); 
  padding: 2rem;
  display: flex; 
  align-items: center; 
  z-index: 1000; 
}

.delete, .totalitems{
  flex: 1; 
  text-align: center; 
}

.footer-details {
  display: flex; 
  align-items: center;
  gap: 10px; 
  flex-grow: 1;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: var(--color3);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-details label, .shop-details label {
  font-size: 16px;
  color: var(--color2);
}

.footer .checkout-btn {
  margin-left: auto;
}

:root {
  --color1: #fac883;
  --color2: #d9912b;
  --color3: #966115;
  --color4: #5b3701;
  --color5: #573501;
  --color6: #3d2501;
  --color7: #492c00;
  --color8: #231200;
}
